{{ attach_library('delta_theme/search-block') }}

<div class="search-wrapper" id="search-wrapper">
  <div class="search-input-block">
    {% include "@atoms/10-search-element/search-input.twig" %}
  </div>
  <div class="search-submit-block">
    {% include "@atoms/10-search-element/search-button.twig" %}
  </div>
</div>
